 <div class="container">
 <div class="col-sm-6 col-md-offset-2 col-sm-offset-0 col-md-8 col-xs-8 col-xs-offset-3 edit_page form_container contact_message">
 		<h2 class="text-center"> Thank you for your message!</h2>
 		<h3 class="text-center">I'll get back to you soon.</h3>
 	</div>
 </div>